//Colors
$gunmetal: #292f36;
$mediumTurquoise: #4ecdc4;
$mintCream: #f7fff7;
$bittersweet: #ff6b6b;
$naplesYellow: #ffe66d;

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&family=Unica+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");


* {
  font-family: "Open Sans", sans-serif;
}
