//color imports
$coolGrey: #264653;
$abyssGreen: #2A9D8F;
$yellowOchre: #E9C46A;
$deepOrange: #F4A261;
$burntSienna: #E76F51;

//font imports
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto:wght@300;400;500&display=swap');
////////FONTS!!///////////
////WEIGHTS: Roboto- 300(light), 400(regular), 500(medium)
////Carter is always the same weight
// font-family: 'Carter One', cursive;
// font-family: 'Roboto', sans-serif;

* {
    font-family: 'Carter One', cursive;
}