.about {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  height: 100%;
}

.aboutp {
  color: #f7fff7;
}

.what {
  font-family: "Sigmar One", cursive;
  color: #ffe66d;
}
.bread {
  color: #ff6b6b;
}

.footer {
  bottom: 0;
  // position: absolute;
}

@media screen and (min-width: 768px) {
  .what {
    text-align: center;
    font-size: 30px;
  }
  .aboutp {
    margin: 40px;
    font-size: 30px;
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .aboutp {
    margin: 70px;
    font-size: 35px;
    padding: 40px;
    margin-bottom: 150px;
  }
  .what {
    text-align: center;
    font-size: 40px;
  }
}
