@import './config';

.about {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  height: 100%;
}
.what {
  font-family: "Sigmar One", cursive;
  color: #ffe66d;
}
.aboutp {
  color: $mintCream; 
}
.aboutp2 {
  color: #ff6b6b;
}
.footer{
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .what {
    text-align: center;
    font-size: 30px;
  }
  .aboutp {
    margin: 40px;
    font-size: 30px;
    padding: 20px;
  }
  .aboutp2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .what {
    text-align: center;
    font-size: 40px;
  }
  .aboutp {
    margin: 70px;
    font-size: 35px;
    padding: 40px;
    margin-bottom: 150px;
  }
   .aboutp2 {
    font-size: 35px;
  }

}
