.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}

.addmood {
  color: #ffe66d;
  font-family: "Sigmar One", cursive;
  font-size: 25px;
}
.formsub {
  color: #f7fff7;
  font-size: 20px;
  font-weight: bold;
}
.foodname {
  margin-bottom: 5px; 
}
.author {
  margin-bottom: 5px;
}
.course {
  margin-bottom: 5px;
}
.imagelink {
  margin-bottom: 5px;
}
.description {
  margin-bottom: 5px;
}
.mt-2 {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #292f36; 
  background-color: #ffe66d;
  border-radius: 12px;
}
.backtomood {
  text-decoration: none;
  font-size: 15px;
  color: #292f36;
  background-color: #ffe66d;
  border-radius: 12px;
}


@media screen and (min-width: 768px) {
  .form {
  margin-bottom: 200px;
   
  }
  .foodname {
    width: 300px;
  }
  .author {
    width: 300px;
}
  .course {
    width: 300px;
  }
  .imagelink {
    width: 300px;
}
  .description {
    width: 300px;
}
  .mt-2 {
    font-size: 20px;
  }
  .backtomood {
    font-size: 20px;
  }
}
// @media screen and (min-width: 1024) {
//   div.form {
//     // margin: 500px;
//   }
// }

@media screen and (min-width: 1440px) {
  .addmood{
    font-size: 50px;
  }
  .formsub {
    font-size: 40px;
  }
   .form {
   margin-top: 50px;
   min-height: 600px;
  }
  .foodname {
    width: 400px;
    font-size: 20px;
  }
  .author {
    width: 400px;
    font-size: 20px;
}
  .course {
    width: 400px;
    font-size: 20px;
  }
  .imagelink {
    width: 400px;
    font-size: 20px;
}
  .description {
    width: 400px;
    font-size: 20px;
} 
   .mt-2 {
    font-size: 25px;
  }
  .backtomood {
    font-size: 25px;
  }
}


@media screen and (min-width: 2560px) {
  .form {
    min-height: 2000px;
    
  }
}
