@import "./_config.scss";

nav {
  background-color: #292f36;
  height: 55px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0px;
    font-size: 17px;
    height: 50%;
    flex-flow: row nowrap;

    .homeLink {
      padding: 0;
      position: relative;
    }

    .adorable {
      height: 30%;
      width: 30%;
      padding: 0px;
    }

    .link {
      text-decoration: none;
      color: white;
    }
  }
}
