.kilahname {
  color: #ffe66d;
  font-family: "Sigmar One", cursive;
}

h3 {
  color: #ff6b6b;
}

p {
  color: #f7fff7;
}

.kilah {
  height: 180px;
  width: 180px;
}

.chase {
  height: 180px;
  width: 180px;
}

.hannah {
  height: 180px;
  width: 180px;
}

.sara {
  height: 180px;
  width: 180px;
}

div.chaseandgals {
  margin: 10px;
  padding: 20px;
  //   display: grid;
  //   grid-template-columns: 2fr 1fr 1fr;
  //   /* grid-template-rows: 1fr 1fr 1fr; */
  //   grid-template-rows: repeat(3, 1fr);
  //   grid-gap: 10px;
}

@media screen and (max-width: 767px) {
  #chaseandgals {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  #chaseandgals {
    margin: 10px;
  }
  #kilahbox {
    text-align: right;
    padding: 0px;
  }

  .kp {
    float: left;
    text-align: justify;
    display: inline-block;
  }
  .hp {
    float: right;
  }
  #chasebox {
    text-align: right;
  }
  .cp {
    float: left;
    text-align: justify;
  }
  .sp {
    float: right;
  }
}

@media screen and (min-width: 1024px) {
  #chaseandgals {
    margin: 0 150px 50px 150px;
  }

  .sara {
    height: 280px;
    width: 280px;
  }

  .hannah {
    height: 280px;
    width: 280px;
  }

  .chase {
    height: 280px;
    width: 280px;
  }

  .kilah {
    height: 280px;
    width: 280px;
  }
}
