div.chaseandgals {
  // margin: 10px;
  padding: 20px;
  display: grid;
  grid-template-areas: left right;
  grid-template-columns: repeat (2, 2fr);
  grid-template-rows: 80px;
  grid-gap: 10px;
  width: 100%;
}

.kilahname {
  color: #f7fff7;
  font-family: "Sigmar One", cursive;
}

h3 {
  color: #ff6b6b;
}

p {
  color: #4ecdc4;
}

.kilah {
  height: 180px;
  width: 180px;
}

.chase {
  height: 180px;
  width: 180px;
}

.hannah {
  height: 180px;
  width: 180px;
}

.sara {
  height: 180px;
  width: 180px;
}

.kandc {
  grid-area: right;
}
