.kilahname {
  color: #ffe66d;
  font-family: "Sigmar One", cursive;
  font-size: 40px;
}

h3 {
  color: #ff6b6b;
  font-size: 28px;
}

p {
  color: #f7fff7;
  font-size: 17px;
  font-weight: bold;
}

.kilah {
  height: 180px;
  width: 180px;
}

.chase {
  height: 180px;
  width: 180px;
}

.hannah {
  height: 180px;
  width: 180px;
}

.sara {
  height: 180px;
  width: 180px;
}

div.chaseandgals {
  margin: 10px;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  #chaseandgals {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  #chaseandgals {
    margin: 10px;
  }
  #kilahbox {
    text-align: right;
    padding: 0px;
  }

  .kp {
    float: left;
    text-align: justify;
  }
  .hp {
    float: right;
  }
  #chasebox {
    text-align: right;
  }
  .cp {
    float: left;
    text-align: justify;
  }
  .sp {
    float: right;
  }
}

@media screen and (min-width: 1024px) {
  #chaseandgals {
    margin: 0 150px 50px 150px;
  }
  .kilahname {
  color: #ffe66d;
  font-family: "Sigmar One", cursive;
  font-size: 20px;
}
h3 {
  font-size: 20px;
}


  .sara {
    height: 280px;
    width: 280px;
  }

  .hannah {
    height: 280px;
    width: 280px;
  }

  .chase {
    height: 280px;
    width: 280px;
  }

  .kilah {
    height: 280px;
    width: 280px;
  }
}

@media screen and (min-width: 1440px) {
  .kilahname {
  font-size: 40px;
}
  h3 {
  
  font-size: 28px;
}
}
